.navbar-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
.hideMenu {
  display: none;
}
.menu {
  background-color: black;
  color: white;
}

@media (min-width: 576px) {
  .menu {
    background-color: transparent;
  }
}
