.bg-img {
  padding: 0;
  background-image: url("../../Assets/Images/Bg8.png");
  width: 100%;
  height: 65vh;
  /* background-position: center; */
  /* background-size: cover; */
  background-size: 100% 100%;
  background-repeat: no-repeat;

  /* position: relative; */
  display: flex;
  align-items: center;
}
.page-header {
  position: absolute;
  display: flex;
  color: white;
  flex-direction: column;
  left: 10%;
  top: 40%;
  width: initial;
}
.input-field {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  background: none;
  border: 1px solid white;
  padding-left: 30px;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

/*  */

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.card-img-top {
  /* object-fit: fill; */
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  color: rgba(0, 0, 0, 0.9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (max-width: 992px) {
    .page-header {
        max-width: 960px;
    }
  } */
