/* #root {
} */

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
li {
  list-style: none;
}
